.swiper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
}
.swiper-wrapper {
  width: 100%;
  display: flex;
}
.swiper-slide {
  display: flex;
  gap: 20px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  background-color: #ffffff;
}
